/* 3. add CSS Reset */
/*Allows to easily manipulate the sizes and positioning of elements*/
* {
    margin: 0;
    padding: 0;
}

/* 4. Google Font*/

body {
	font-family: open sans ;
}

/*5.nav position is sticky. */

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-top: 1px solid gray;
	list-style-type: none;
	position: sticky;
	flex-direction: raw;
	z-index: 1;
	width: 100%;
	
	
}
nav .nav, nav .right-nav{
	margin: 0.5rem;
	flex-direction: raw;
	float: right;
	display: inline-flex;

}


	
/*6. Apply styling in .tuitt-button with 
the background-color: #c2195b. */

.tuitt-button {
	color:white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 20px;
	font-size: 1rem;
	padding: 1rem;



}

/*7. Add a background image for the landing page.*/

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat:no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 450px;
	background-size: cover;


}

/*8. Add a black background color and opacity in class front-bg.*/
.front-bg{
	background-color: black;
	opacity:20%;
	height: 100%;
	width: 100%;
	
	
}

.container{
	width: 95%;
	height: 75%;
	color: white;
	align-items: flex-end;
	display: flex;
	flex-direction: column;
}



}


/*9. Use the font-family 'Zilla Slab' for class title and title-2.*/
.title {
	font-family: Zilla Slab;
	color: white;
	text-align:right;
	font-weight: bolder;
	float: right;
	font-size: 4rem;
	width: 40%;

}

.subtitle{
	font-family: Zilla Slab;
	color: white;
	text-align: right;
	font-size:1.8rem;
		
}

.title-2{
	font-family:Zilla Slab;
	font-weight: bold;
	text-align: center;
	margin: 3rem;
	padding: 10px;
}

.apply-button{
	color:white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;

}

.intro-description{
	text-align: center;
	display:block;
}

/*10. Use the background-color: #f7fbfb for the pre-footer class.*/
.pre-footer{
	background-color:#f7fbfb;
}

.pre-footer, prefooter-description .book-button{
	text-align: center;
	margin: 1rem;
}

.book-button{
	margin: 1rem;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;

}

/*11. Use the background-color: #336589 for the book-button class.*/
.book-button{
	background-color:#336589;
}

/*12. Add a footer and aligned it in the center.*/

footer{
	text-align: center;
}

.book-button{
	color:white;
	font-weight: bold;
	background-color: navy blue;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	height: 20px;
	margin: 1rem;


}











